<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico">

    <title>Guning Home</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/css/jumbotron-narrow.css" rel="stylesheet">
    <link href="/css/loading.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills pull-right">
                <li role="presentation" class="active">
                    <button id="home" class="btn btn-info">Home</button>
                </li>
                <!--<li role="presentation"><a href="#">About</a></li>
                <li role="presentation"><a href="#">Contact</a></li>-->
            </ul>
        </nav>
        <h3 class="text-muted">罟宁</h3>
    </div>

    <div id="index">
        <div class="jumbotron">
            <h1>Guning's blog</h1>
            <p class="lead">Sow nothing, reap nothing.</p>
        </div>

        <div class="row marketing">
            <div class="col-lg-12 list" id="list"></div>
        </div>
    </div>

    <div id="article" style="display: none"></div>
    <div class="pswp__preloader__icn" id="loading">
        <div class="pswp__preloader__cut">
            <div class="pswp__preloader__donut"></div>
        </div>
    </div>
    <footer class="footer">
        <p>&copy; 2017 @author by guning</p>
        <p>
            <a href="#">Back to top</a>
        </p>
    </footer>
</div> <!-- /container -->

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/gmarkdown.js"></script>
<script src="/js/ajax.js"></script>
<script src="/js/prism.js"></script>
<link href="/css/prism.css" rel="stylesheet">
<script type="text/javascript">
    function getDetail(elem) {
        document.getElementById('loading').style.display = 'block';
        var id = elem.id;
        myAjax(0, '/article/api/' + id, '', function (data) {
            document.getElementById('loading').style.display = 'none';
            var article = JSON.parse(data);
            if (article == '') {
                document.getElementById('article').innerHTML = 'Api get no data';
            } else {
                var content = markdownParser(article['file'].replace(/\r\n/g, '\n'));
                var title = '<h1>' + article['title'] + '</h1><br>';
                var summary = '<p class="text-info"><em>' + article['summary'] + '</em></p><hr>';
                document.getElementById('article').innerHTML = title + summary + content;
                Prism.highlightAll();
            }
            $("#index").fadeOut("slow", function () {
                $("#article").fadeIn("slow");
            });
        });
    }

    $(document).ready(function () {
        $("#home").click(function () {
            document.getElementById('loading').style.display = 'block';
            $("#article").fadeOut("slow", function () {
                $("#index").fadeIn("slow");
            });
            document.getElementById('loading').style.display = 'none';
        });
        myAjax(0, '/home/api', '', function (data) {
            document.getElementById('loading').style.display = 'none';
            var list = JSON.parse(data);
            if (list == '') {
                document.getElementById('list').innerHTML = 'Nothing to show!';
            } else {
                var html = '';
                list.forEach(function (element) {
                    html += '<hr/>\
                            <div>\
                                <h3>\
                                    <label onclick="getDetail(this)" class="title" id="' + element.id + '">' + element.title + '</label>\
                                </h3>\
                                <p>\n'
                        + element.summary +
                        '<span class="pull-right">' + element.time + '</span>\
                                </p>\
                            </div>';
                })
                document.getElementById('list').innerHTML = html;
            }
        });
    });
</script>
</html>
